extends layout

block content
  ol
    li
      a(href="#", title="vote up", alt="vote up"): i.icon-glyph78
      a(href="#")
        span.strong Fork on github
        span.spaced (github.com)
      br
      span 100 points by
        a.spaced(href="#") vnykmshr
        span 1 hour ago
        span.spaced |
        a.spaced(href="#") 18 comments
