footer
  nav
    a(href="#") about
    a(href="#") lists
    a(href="#") rss
    a(href="#") guidelines
    a(href="#") faq

  form(method="get", action="/")
    input.rounded(type="text", placeholder="search...")
