- if ('development' === environment)
  link(rel="stylesheet", href="/css/webfont.css")
  link(rel="stylesheet", href="/css/app.css")
  link(rel="stylesheet", href="/css/fontello.css")
- else
  link(rel="stylesheet", href="/css/min/<PLACEHOLDERFORMINIFIEDFILE>")
