header
  nav
    a.logo(href="/", alt="nepalhacker") NH
    span.strong nepalhacker
    a(href="/", alt="home") home
    a(href="#", alt="new") new
    a(href="#", alt="comments") comments
    a(href="#", alt="ask") ask
    a(href="#", alt="submit") submit
    a.right(href="#", alt="logout") logout
    a.right(href="#", alt="vnykmshr") vnykmshr (19)

